dist/*
docs-dist/*
converage/*
.dumi/*
node_modules/*
packages/builder/dist/*
packages/builder/es/*
packages/builder/node_modules/*
packages/cli-ui/dist/*
packages/cli-ui/es/*
packages/cli-ui/node_modules/*
packages/cli/dist/*
packages/cli/es/*
packages/cli/node_modules/*
packages/charts/dist/*
packages/charts/es/*
packages/charts/node_modules/*
packages/graphs/dist/*
packages/graphs/es/*
packages/graphs/node_modules/*
packages/core/dist/*
packages/core/es/*
packages/core/node_modules/*
packages/hooks/dist/*
packages/hooks/es/*
packages/hooks/node_modules/*
packages/icon/dist/*
packages/icon/es/*
packages/icon/node_modules/*
packages/layouts/dist/*
packages/layouts/es/*
packages/layouts/node_modules/*
packages/lint/dist/*
packages/lint/es/*
packages/lint/node_modules/*
packages/themes/dist/*
packages/themes/es/*
packages/themes/node_modules/*
packages/utils/dist/*
packages/utils/es/*
packages/utils/node_modules/*
packages/micro/dist/*
packages/micro/es/*
packages/micro/node_modules/*
packages/ac/dist/*
packages/ac/es/*
packages/ac/node_modules/*
packages/provider/dist/*
packages/provider/es/*
packages/provider/node_modules/*
packages/editor/dist/*
packages/editor/es/*
packages/editor/node_modules/*
packages/icons/src/icons/*
packages/icons/es/*
packages/icons/dist/*
packages/icons/node_modules/*
packages/label/dist/*
packages/label/node_modules/*
packages/eslint-plugin/*